body{
	background-image: url('blueback.png');
}

.contentbox, body { color: #68a0b1 }

 #navcontainer2 ul li a, #ddblueblockmenu div.menutitle { color: #99ccff; }
h1,h2,h3,h4,h5,h6 { color: #99ccff; }

#navcontainer2 ul li a { color: #99ccff; }

#ddblueblockmenu li a { color: #68a0b1; }
 a:link { color: #0066cc; }
 a:visited { color: violet; }
 a:hover { color: #ffcc00 }

div.pagename{
background-color: #1F4872;
border-style: solid;
border-width: 10px 10px;
border-color: #09305B;
color: #99ccff;
}

#navcontainer2 ul li { 
	border-top: 10px solid #0E3760; 
	border-left: 10px solid #0E3760; 
	border-right: 10px solid #0E3760; 
	border-bottom: 0px;
	background-color: #264D75; 
 }

.contentbox { 
	border: 10px solid #0E3760; background-color: #264D75; 
}