
body { margin: 0px; padding: 0px; 
    /*background-image: url('back2.png'); */
    background-image: url('bg-texture-dark.jpg'); /* or light */
    /*background-color: black;*/
font-family: Tahoma; color: black; }

.container { margin-left: 150px; margin-top: 30px; width: 990px;  }
.contentbox { border: 10px solid #3c3c3c; background-color: white;
					padding: 1em; color: black; min-height: 400px; 
					line-height: 1.35em; margin-bottom: 1.35em; }
.contentbox:last-child { border-left: 0px; }

div.pagename{

background-color: #fcfcfc;
border-color: #3c3c3c;
border-style: solid;
border-width: 15px;
color: black;

width: 500px; max-width: 100%;
box-sizing: border-box;
min-height : 80px;
padding: 8px;

/*float: left;*/
clear: both;
margin-bottom: 2.35em;
}

.showbreak {
  padding: 12px 12px;
  position: relative; 
  left: -10px; 
  width: 100%;
  box-sizing: content-box;
}

    /* make the footer stick to the bottom of the parent div */
    /* https://stackoverflow.com/a/5106210/337306 */
    /*.showbreak:not(:first-child) { position: absolute; bottom: 0px; }*/
    /* this code is no longer used, look for .inbetweenshows */
    .contentbox { position: relative; }

.showbreak:not(:first-child){ 
  border-top: 10px solid #3c3c3c; 
  padding: 12px 18px;
  padding-right: 0px; 
}
.showbreak:first-child{
    border-bottom: 10px solid #3c3c3c; 
    top: -8px;
    /*padding-right: unset;*/
}

div.column{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    display: inline-block;
    box-sizing: border-box;
    /*float: left;*/
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 8px;
    font-size: 14px;
    /*border: solid #000000 0px;*/
    vertical-align: middle;
}

div.row{
    /* ie inline-block: fix
    http://foohack.com/2007/11/cross-browser-support-for-inline-block-styling/
    http://www.quirksmode.org/css/display.html
    */
    display: block;
    font-size: 14px;
    /*border: solid #000000 0px;*/

    vertical-align: middle;
    min-width: 100px;
    
    clear: both;
}

.pagename a:link, .pagename a:visited { color: unset; }

/*Credits: Dynamic Drive CSS Library */
/*URL: http://www.dynamicdrive.com/style/ */
#ddblueblockmenu{
border: 0px solid black;
border-bottom-width: 0;
width: 100%;
/*font-size: 0.8em;*/
}

#ddblueblockmenu ul{
margin: 0;
padding: 0px;
list-style-type: none;
}

#ddblueblockmenu li a{
display: block;
padding: 6px 0px;
padding-left: 9px;
width: 169px; /*185px minus all left/right paddings and margins*/
text-decoration: none;
/*color: #dcdcdc;*/
/*background-color: #595959;*/
border-bottom: 0px solid #4d4d4d;
border-left: 0px solid #484848;
}

* html #ddblueblockmenu li a{ /*IE only */
width: 187px; /*IE 5*/
width: 169px; /*185px minus all left/right paddings and margins*/
}

#ddblueblockmenu li a:hover {
background-color: #000080;
border-left-color: #484848;
color: white;
}

#ddblueblockmenu li .active {
background-color: #484848;
border-left-color: #484848;
cursor: pointer;
}

#ddblueblockmenu div.menutitle{
color: black;
border-bottom: 3px solid #4d4d4d;
padding: 1px 0;
padding-left: 5px;
/* background-color: #3c3c3c; */ padding-top: 12px;
/*font: bold 90%;*/
font-weight: bold;
font-size: 1em;
}

/* ----- forms ----- */
select {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 color: black;
}

input, input[type='text'], input[type='password'], textarea {
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 1px solid #666666;
 color: black;
}

button, button[type='submit']{
 font-family: Verdana, Arial, Helvetica, sans-serif; 
 font-size: 16px; 
 margin-right: 6px; 
 background-color: #CCCCCC;
 border: 3px ridge #666666;
 color: black;
}

.sidebar { width: 290px; }

.sparewidth li, .sparewidth dd { margin: 0.15em 0px 0px 1.5em; display: block; }


/* ------ */
.flex { display: flex !important; }
.sparewidth { flex-grow: 100; }
/* make column fill spare remaining width of container 
        https://stackoverflow.com/a/40447261/337306 */

        .makehigh{ display: table; }
        .makehigh .column { display: table-cell; float: none; }
        /* all columns same height */
        /* https://www.w3schools.com/howto/howto_css_equal_height.asp */

/* make .showbreak have sticky footer */
.makehigh .column { display: flex; flex-direction: column; }
.inbetweenshows { height: 100%; margin-bottom: 16px; }

/* ----------------- listamatic menu -----------------  */
#navcontainer ul
{
padding: 1.15em;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
padding-left: 3.15em;
/*background-color: #EE5D3F;*/
background-color: rgba(0, 0, 255, 0.25);
color: white;
max-width: 100%;
line-height: 18px; /* fixes Firefox 0.9.3 */

}

#navcontainer ul li
{
display: inline-block;
margin: 0.85em 0;
/*padding-left: 0;*/
/*padding-right: 0;*/
/*padding-bottom: 5px;*/
text-align: center;
/* matches link padding except for left and right */
/*padding-top: 5px;*/
}

#navcontainer ul li a
{
padding: 1.15em;
color: white;
/*background-color: #D44326;*/

text-decoration: none;
}

#navcontainer  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #0066cc;
text-decoration: none;
}

#navcontainer ul li a:hover
{
background-color: #0066cc;
color: white;
}

#navcontainer2 ul
{
padding: 0em;
margin-top: 0;
/* cancels gap caused by top padding in Opera 7.54 */
margin-left: 0px;
padding-left: 0em;
margin-bottom: 0px;
/*background-color: #EE5D3F;*/
background-color: transparent;
color: white;
max-width: 100%;
line-height: 18px; /* fixes Firefox 0.9.3 */

font-size: 0px;

}

#navcontainer2 ul li { 
    border-top: 10px solid #3c3c3c; 
    border-left: 10px solid #3c3c3c; 
    border-right: 10px solid #3c3c3c; 
    border-bottom: 0px; 
    /*padding:0.85em; */
    display: inline-block; 
    background-color: white; 
     /*padding-left: 0;*/
    /*padding-right: 0;*/ /*padding-bottom: 5px;*/ 
    text-align: center; /* matches
    link padding except for left and right */ /*padding-top: 5px;*/ 
    position: relative; top: 3px; 

    font-size: 16px;
    margin-right: 8px;
}

#navcontainer2 ul li a
{
padding: 0.85em 2em;
color: black;
box-sizing: border-box;
/*background-color: #D44326;*/
width: 100%;
text-decoration: none;
display: inline-block;
}

#navcontainer2  #current
{
padding-left: 20px;
padding-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
color: white;
background-color: #0066cc;
text-decoration: none;
}

#navcontainer2 ul li a:hover
{
background-color: #0066cc;
color: white;
}

@media screen and (max-width: 1000px) {
  .container { 
    margin: 0px; width: 90%; 
    margin-left: auto; margin-right: auto; 
  }
}

@media screen and (max-width: 800px) {
  .container { margin: 0px; width: 100%; }
  .pagename { width: 100% !important; }
  .row { max-width: 100%; }
  .contentbox { min-height: unset; }
  .column { display: block !important; width: 100% !  important; }
  .contentbox:last-child { border-left: 10px solid #3c3c3c; }
  .sparewidth { flex-grow: unset; }
  .flex { display: block !important; }
  #ddblueblockmenu { font-size: 1.35em; }
  #ddblueblockmenu li a{ margin-bottom: 0.85em; }
  .showbreak:not(:first-child) { position: relative; bottom: 0px; }
  .sparewidth li, .sparewidth dd { margin: 1.15em 0px 0px 1.5em; }
}